aniso8601==9.0.1
btrfsutil==5.16.2
chardet==4.0.0
click==8.0.4
dnspython==2.2.0
docutils==0.16
Flask==2.0.3
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.1.1
Jinja2==3.0.3
lensfun==0.3.3
LibAppArmor==3.0.4
libfdt==1.6.1
louis==3.21.0
Markdown==3.3.6
MarkupSafe==2.1.1
netsnmp-python==1.0a1
peewee==3.14.10
psycopg2==2.9.3
pwquality==1.4.4
pycairo==1.21.0
PyGObject==3.42.0
python-dotenv==0.20.0
pytz==2022.1
pyxdg==0.27
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
team==1.0
urllib3==1.26.9
Werkzeug==2.0.3
zipp==3.7.0
